# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
xcuserdata/

# Swift Package Manager
/.build/
/Packages/
/Package.resolved
.swiftpm/xcode

# User settings
*.xcworkspace/xcshareddata/

# Logs
*.log

# Temporary
*.tmp
*.orig